/* ===============================
Colour Palette:
---------------
Dark Grey/Gris Foncé:	                         #465065
Light Grey/Gris Claire:			                   #9aa0ab
Very Light Grey/Gris Très Claire (footer):       #b9c0c6
Red/Rouge:			                               #f0454c
Hover on icons, button and "More ->"             #000
=============================== */

/* General */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  max-width: 100%;
  max-height: 100%;
}

/*header, main, footer{*/
main, footer {
  margin-left: 220px;
  margin-right: 220px;
  width: 940px;
  color: #465065;
}

h1,h2,h3{
  font-family: "Montserrat";
  color: #465065;
}
h4,p,li,button,a {
  font-family: "Open-Sans" sans-serif;
  color: #465065;
}

h1 {
  text-transform: uppercase;
  font-size: 3em;
}

h2,h3 {
  text-transform: uppercase;
}
h3 {
  font-size: 1em;
}
ul{
  list-style: none;
  width: 600px;
}
a {
  text-decoration: none;
}

a:hover, i:hover{
  color: #000;
}

.button {
  text-transform: uppercase;
}

/*=====================Site Top=============================*/

.sitetop {
  /*margin-left: 50px;*/
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 1050px;
  width: 1380px;
}

nav ul{
  position: relative;
  top: 15px;
  left: 620px;
  font-size: 1.1em;
  margin-top: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 30px;
  text-transform: uppercase;
}

nav i {
  color: #f0454c;
}

header hgroup{
  width: 550px;
  position: relative;
  line-height: 0.8em;
  top: 250px;
  left: 220px;
}
h1::before {
  content: "";
  display: block;
  width: 60px;
  margin-bottom: 20px;
  border:  solid #f0454c;
  border-width: 8px 0 0 0;
}
.topbutton {
  color: white;
  background-color: #f0454c;
  border-radius: 8px;
  text-transform: uppercase;
}

.freelancer {
  position: relative;
  top: -45px;
  width: 150px;
  height: 70px;
  left: 220px;
  padding: 9px;
  font-size: 1.2em;
}

.readmore{
  font-weight: bold;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  top: 280px;
  left: 220px;
}

/*=====================Site Middle=============================*/
main p{
  color:#9aa0ab;
}
/*======= Values =======*/
.values {
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}


.values section {
  flex-basis: 31%;
}
.values section h2{
  text-transform: uppercase;
  line-height: 0.2em;
}
.values section p::first-line{
  color:#465065;
}

/*.values section p{
color:#9aa0ab;
}*/

.values section::before{
  content: "";
  display: block;
  width: 60px;
  border:  solid #f0454c;
  border-width: 8px 0 0 0;
}

.more1 {
  color: #f0454c;
}

/*======= Portfolio =======*/

.portfolio {
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.portfolio section {
  flex-basis: 47%;
}

.portext {
  padding-top: 50px;
}

.portext::before{
  content: "";
  display: block;
  width: 60px;
  border:  solid #f0454c;
  border-width: 8px 0 0 0;
}

.portext p:first-of-type{
  color: #465065;
}

.portext h2, .team h2{
  font-size: 2em;
}
/*=====================Site Bottom=============================*/

.team::before{
  content: "";
  display: block;
  width: 60px;
  border:  solid #f0454c;
  border-width: 8px 0 0 0;
}

.timg {
  border-radius: 50%;
  margin-right: -23px;
  position: relative;
  z-index: -1;
}

.teampeople .shadow{
 display: inline-block;
 position: relative;
 border-radius: 50%;
 box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px inset;
}

.teampeople{
  display: flex;
  justify-content: space-between;
}

.teampeople>section{
  flex-basis: 30%;
  display: flex;
  justify-content: space-between;
}

.teampeople>section p:first-of-type{
  color:  #f0454c;
}

.final{
  float: right;
  padding-top: 30px;
}

/*=====================Footer========================*/

footer {
  margin-top: 90px;
  border-top: 1px solid #b9c0c6;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

.socialinks ul li{
  display: inline-block;
  margin-right: 10px;
}

.socialinks i,.copyright p{
  color: #b9c0c6;
}

.socialinks i:hover{
  color: #000;
}

.socialinks li:nth-of-type(2) i{
  color: #000;
}
