/* ===============================
   Colour Palette:
   ---------------
   Dark Grey/Gris Foncé:	                         #465065
   Light Grey/Gris Claire:			                   #9aa0ab
   Very Light Grey/Gris Très Claire (footer):       #b9c0c6
   Red/Rouge:			                               #f0454c
   Hover on icons, button and "More ->"             #000
   =============================== */

/* General */

html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
   max-width: 100%;
   max-height: 100%;
}

body, footer{
  margin-left: 50px;
  margin-right: 50px;
  width: 940px;
}

h1,h2,h3{
  font-family: "Montserrat";
}
h4, p, li, button {
  font-family: "Open-Sans";
}

ul{
  list-style: none;
}

.sitetop {
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 800px;
  max-width: 100%;
  max-height: 100%;
}

nav {
  position: absolute;
  top: 40px;
  right: 20px;
}
